extends ../layout/main

block variables
  - const pageTitle = 'MAMA'

block content
  .main-slider
    .container
      .row
        .col-12
          .owl-carousel.owl-theme#main-slider
            .item
              .slider-info
                h1 Паста #[br]с лососем
                p.desc Курица, лапша яичная, бульон куриный, морковь, лук 
                .count-list-wrap
                  .select-num 1 порция
                  .price 
                    .offer 199.00₽ 
                    p 123.00₽   
                  button.busket
              img.slider-img(src="../media/image/dish.jpg", alt="image")
            .item
              .slider-info
                h1 Салат #[br]Греческий
                p.desc лапша яичная,  морковь, лук 
                .count-list-wrap
                  .select-num 1 порция
                  .price 
                    .offer 169.00₽
                    p 223.00₽  
                  button.busket
              img.slider-img(src="../media/image/dish2.png", alt="image")
            .item
              .slider-info
                h1 Солянка
                p.desc бульон куриный, морковь, лук 
                .count-list-wrap
                  .select-num 1 порция
                  .price 
                    .offer 200.00₽
                    p 150.00₽  
                  button.busket
              img.slider-img(src="../media/image/dish.jpg", alt="image")

  .popular-dishes
    .container
      .row
        .col-12
          h2 Популярные блюда
      .row      
        .col-12
          .tabs#tabs
            .tab.active(onclick="filterSelection('all')")  Все #[span категории]
            .tab(onclick="filterSelection('salat')") Салаты
            .tab(onclick="filterSelection('soup')")  Супы
            .tab(onclick="filterSelection('other')") Второе
            .tab(onclick="filterSelection('drink')") Напитки  
      .row.dish-row

        .dish-item.salat
          .dish-title 
            h4 Салаты
            h4.bold Греческий 
          img.food-img(src="../media/image/dish2.png", alt="").photo
          .dish-list-wrap
            .select-num 1 порция
            button.busket 199.00₽

        .dish-item.soup
          .dish-title
            h4 Суп
            h4.bold Солянка
          img.food-img(src="../media/image/dish3.png", alt="").photo
          .dish-list-wrap
            .select-num 1 порция
            button.busket 199.00₽

        .dish-item.other
          .dish-title
            h4 Второе
            h4.bold Паста с лососем
          img.food-img(src="../media/image/dish4.png", alt="").photo
          .dish-list-wrap
            .select-num 1 порция
            button.busket 199.00₽ 

        .dish-item.soup
          .dish-title
            h4 Суп
            h4.bold Солянка
          img.food-img(src="../media/image/dish3.png", alt="").photo
          .dish-list-wrap
            .select-num 1 порция
            button.busket 199.00₽

        .dish-item.salat
          .dish-title
            h4 Салаты
            h4.bold Греческий
          img.food-img(src="../media/image/dish2.png", alt="").photo
          .dish-list-wrap
            .select-num 1 порция
            button.busket 199.00₽ 

        .dish-item.other
          .dish-title
            h4 Второе
            h4.bold Паста с лососем
          img.food-img(src="../media/image/dish4.png", alt="").photo
          .dish-list-wrap
            .select-num 1 порция
            button.busket 199.00₽ 

        .dish-item.salat
          .dish-title
            h4 Салаты
            h4.bold Греческий
          img.food-img(src="../media/image/dish2.png", alt="").photo
          .dish-list-wrap
            .select-num 1 порция
            button.busket 199.00₽

        .dish-item.soup
          .dish-title
            h4 Суп
            h4.bold Солянка
          img.food-img(src="../media/image/dish3.png", alt="").photo
          .dish-list-wrap
            .select-num 1 порция
            button.busket 199.00₽

        .dish-item.other
          .dish-title
            h4 Второе
            h4.bold Паста с лососем
          img.food-img(src="../media/image/dish4.png", alt="").photo
          .dish-list-wrap
            .select-num 1 порция
            button.busket 199.00₽
  .about#about
    .container
      .row
        .col-12
          .about-title
            h2 О нас
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta ut enim at pretium
      .row.about-row
        .col-12.col-lg-6.col-md-12.col-sm-12.col-12
          .about-info
            .about-name Галина Сергеевна Васнецова
            .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta ut enim at pretium. Donec sagittis eleifend quam at tempor. Nullam mattis dignissim tortor et consequat. Suspendisse condimentum sed.
        .col-12.col-lg-6.col-md-12.col-sm-12.col-12
          .about-photo
            img(src="../media/icon/big-spot.png", alt="")
            img(src="../media/image/about.png", alt="photo")
      .row.about-row
        .col-12.col-lg-6.col-md-12.col-sm-12.col-12
          .about-info
            .about-name Илья Васильевич Полежайкин
            .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porta ut enim at pretium. Donec sagittis eleifend quam at tempor. Nullam mattis dignissim tortor et consequat. Suspendisse condimentum sed.
        .col-12.col-lg-6.col-md-12.col-sm-12.col-12
          .about-photo
              img(src="../media/icon/big-spot.png", alt="")
              img(src="../media/image/about2.png", alt="photo") 
        

  .order
    .container
      .row
        .col-12
          h2 Как заказать? 
      .row
        .col-6.col-lg-3.col-md-6.col-sm-6
          .order-text
            .order-item
              img(src="../media/icon/order1.svg", alt="icon")
              h3 Lorem ipsum dolor sit
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit
            .order-item
              .img-item 3
              h3 Lorem ipsum dolor sit
              p Donec ante ex, rutrum in tempor quis, fringilla sed ex
        .col-12.col-lg-6.col-md-12.col-sm-12.order-last
          img.order-img(src="../media/image/2.png", alt="image") 
        .col-6.col-lg-3.col-md-6.col-sm-6.order-lg-last
          .order-text
            .order-item
              .img-item 2
                //- img(src="../media/icon/orderbg.svg", alt="icon")
              h3 Lorem ipsum dolor sit
              p Phasellus aliquam, est a semper dignissim, justo augue dapibus orci, vel
            .order-item
              .img-item 4
              h3 Suspendisse lacinia
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit 
  .payment#pay
    .container
      .row
        .col-12
          h2 Как оплатить? 
      .row
        .col-12.col-lg-4.col-md-4
          .pay-item
            .img-item 1
            h3 Lorem ipsum dolor sit
            p Phasellus aliquam, est a semper dignissim, justo augue dapibus orci, vel
        .col-12.col-lg-4.col-md-4
          .pay-item
            .img-item 2
            h3 Lorem ipsum dolor sit
            p Phasellus aliquam, est a semper dignissim, justo augue dapibus orci, vel
        .col-12.col-lg-4.col-md-4
          .pay-item
            .img-item 3
            h3 Lorem ipsum dolor sit
            p Phasellus aliquam, est a semper dignissim, justo augue dapibus orci, vel  
      .row
        .col-12
          .payment-method
            img(src="../media/image/pay.jpg", alt="logo") 
            img(src="../media/image/pay2.jpg", alt="logo") 
            img(src="../media/image/pay3.jpg", alt="logo") 
            img(src="../media/image/pay4.png", alt="logo") 
            img(src="../media/image/pay5.png", alt="logo") 

    .container
      .row
        .col-12
          .callback
            h3 Вам перезвонить?
            h4 Phasellus aliquam, est a semper dignissim
            form
              input(type="text" placeholder="Ваш номер телефона")
              input(type="submit" value="Заказать звонок")
            p Нажимая “Оформить заказ”  вы соглашаетесь с #[a(href="#") Политикой обработки персональных данных]

  include ../modules/addInBusket-modal
  include ../modules/item-modal
  include ../modules/itemInBusket 
  include ../modules/form_order 
  include ../modules/success                  









