
# BEGIN BackUpWordPress
# Строки между `BEGIN BackUpWordPress` и `END BackUpWordPress` были созданы автоматически.
# Они могут быть изменены только фильтрами WordPress.
# Все изменения между этими отметками будут перезаписаны.
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=6c8c3e5b8b0f2ae11895c1f194c52ec1
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress