// Gilroy

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroyextrabold.ttf');
  src: url('../fonts/gilroy/Gilroyextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

// Mixta Didone Alt
@font-face {
  font-family: 'Mixta Didone Alt';
  src: url('../fonts/Mixta/Latinotype - Mixta Didone Alt Black.otf');
  src: url('../fonts/Mixta/Latinotype - Mixta Didone Alt Black.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

// Museo Cyrl
@font-face {
  font-family: 'Museo Cyrl';
  src: url('../fonts/Museo_Cyrillic/exljbris - Museo Cyrl 500.otf');
  src: url('../fonts/Museo_Cyrillic/exljbris - Museo Cyrl 500.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Cyrl';
  src: url('../fonts/Museo_Cyrillic/exljbris - Museo Cyrl 700.otf');
  src: url('../fonts/Museo_Cyrillic/exljbris - Museo Cyrl 700.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// Museo Sans Cyrl
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-500.ttf');
  src: url('../fonts/MuseoSans/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-700.ttf');
  src: url('../fonts/MuseoSans/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}