.addbusket-modal
  .img-container-small
    div.small-img
  div.small-title #[span.kind ] #[span.name ]    добавлен в корзину! 
  .line
  button.goPay.contine Перейти к оплате

//-  inBusket items

.inbusket
  img(src="../media/icon/basket.svg", alt="icon")
  div.numberOfItem 1