footer.footer
  .container
    .row
      .col-3
       .logo-footer 
          img(src="../media/icon/logo.svg", alt="logo")
          p ©Мама наготовила, Inc 2020
      .col-3
        ul.list
          li
            .footer-title Меню
          li
            a(href="#") Салаты
          li
            a(href="#") Напитки
          li
            a(href="#") Супы
          li
            a(href="#") Второе
          li
            a(href="#") Семейный ужин
      .col-3
        .info
          .footer-title Информация
          a(href="#") Оплата и доставка
          a(href="#") Политика конфиденциальности 

      .col-3
        .contact
          .footer-title Контакты
          a.phone(href="tel:+7 (843) 276-66-76") +7 (843) 276-66-76 
            img(src="../media/icon/footer-tel.svg", alt="icon")
          a.phone(href="#") @mamanagotovila2018
            img(src="../media/icon/footer-twit.svg", alt="icon") 
          a.phone(href="#") @mamanagotovila
            img(src="../media/icon/watsapp-footer.svg", alt="icon")     
