header.header
  .header-content
    a(href="/")
      img.logo(src="../media/icon/logo.svg", alt="logo")
    .header-nav
      ul
        li
          button.menu Меню
            img(src="../media/icon/logo-menu.svg", alt="logo")
            .romb
        li
          a(href="#") О нас
        li
          a(href="#") Оплата и доставка
  .header-contact
    .phone
      a(href="#") +7 (843) 276-66-76
        img(src="../media/icon/tel.svg", alt="icon")
      a(href="#") Вам перезвонить?
    .social
      a(href="#")
        img(src="../media/icon/twit.svg", alt="icon")
      a(href="#")         
        img(src="../media/icon/wApp.svg", alt="icon")