.dish-overlay
  .modal-content
    .modal-close
    div.modal-img
    .modal-info
      h4 Салат
      h3 Греческийssssss
      p Курица, лапша яичная, бульон куриный морковь, лук
      .modal-btns
        .modal-btn
          button.count-dish.active 1 порция
          button.count-dish 3 порции
          button.count-dish 6 порций
        .info-dish
          p 150g
          p.price 199.00₽
        button.addBusket В корзину    