.item-in-busket
  .modal-close3
  .itemInBusket-title
    h3 Товары в корзине
  .itemInBusket-body
    .item
      .img-container
        img(src="../media/image/dish.jpg", alt="image")
      .titles
        .names Салат Греческий
        .grams 250 грамм
      .count-wrap
        .minus 
        .num 1
        .plus 
      .dlt-item    
  .itemInBusket-btn
    .price-wrap
       p К оплате
       p.price 199.00₽
    button.contine Продолжить  
