.menu-overlay
  .modal-menu
    .modal-item
      img(src="../media/image/modal1.svg", alt="image")
      h4 Салаты
    .modal-item
      img(src="../media/icon/drink.png", alt="image")
      h4 Напитки
    .modal-item
      img(src="../media/image/modal2.svg", alt="image")
      h4 Супы
    .modal-item
      img(src="../media/icon/second.png", alt="image")
      h4 Второе
    .modal-item
      img(src="../media/icon/family.png", alt="image")
      h4 Семейный ужин        