.popular-dishes {
  width: 100%;
  padding-top: 105px;
  background: #FAECD7;

  h2 {
    font-family: Mixta Didone Alt;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 100%;
    text-align: center;
    color: #0B1828;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
 
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 56px;

    .tab {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: -0.01em;
      color: #62605D;
      margin-right: 32px;
      padding-bottom: 4px;
      cursor: pointer;
      white-space: nowrap;
    }

    & .tab.active {
      border-bottom: 2px solid #FC903D;
    }

    & .tab:last-child {
      margin-right: 0;
    }
  }
}

.dish-item {
  box-shadow: 0px 4px 18px rgba(49, 47, 46, 0.1);
  background: #FFF8EE;
  border-radius: 20px;
  position: relative;
  padding-top: 36px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 18px;
  display: none;
  flex: 31%;
  margin: 0 9px 18px;
  cursor: pointer;
  max-width: 342px;   
  .dish-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;

    h4 {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 125%;
      letter-spacing: -0.01em;
      color: #62605D;
      margin-bottom: 5px;
    }

    .bold {
      font-family: Mixta Didone Alt;
      font-style: normal;
      font-weight: 800;
      font-size: 28px;
      line-height: 100%;
      color: #0B1828;
      margin-bottom: 0px;
    }
  }

  .photo {
    width: 253px;
    height: 253px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 25px;
  }

  .dish-list-wrap {
    width: 100%;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .select-num {
      flex: 50%;
      display: flex;
      justify-content: center;
      font-size: 18px;
      padding-right: 0;
      .select {
        width: 100%;
        .select-styled {
          padding-left: 39px;
        }
        .select-options {
          padding-left: 23px;
        }
      }
      &:after {
        right: 30px;
      }
    }

    .busket {
      flex: 50%;
      height: 100%;
      background: #FC903D;
      border: none;
      padding: 24px 0;
      border-radius: 20px;
      border-bottom-left-radius: 0px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      text-align: right;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      position: relative;
      align-items: center;
      padding-left: 44px;

      &::after {
        content: "";
        background-image: url(../media/icon/basket.svg);
        background-position: center;
        background-size: cover;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 28px;
      }
    }

  }
}


// item modal
.dish-overlay,
.order-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(32px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  padding: 0 50px;
  visibility: hidden;

  .modal-content {
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 22px 40px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .modal-img {
      max-width: 360px;
      min-height: 360px;
      width: 100%;
      margin-bottom: 37px;
      background-position: center;
      background-size: cover;
    }

    .modal-info {
      h4 {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.01em;
        color: #0B1828;
        margin-bottom: 12px;
      }

      h3 {
        font-family: Mixta Didone Alt;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
        color: #0B1828;
        margin-bottom: 24px;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.01em;
        color: #62605D;
        margin-bottom: 29px;
      }

      .modal-btns {
        display: flex;
        height: 48px;
        justify-content: space-between;

        .modal-btn {
          display: flex;

          margin-right: 48px;

          .count-dish {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 125%;
            text-align: center;
            letter-spacing: -0.01em;
            color: #FC903D;
            border: none;
            background-color: transparent;
            padding: 12px 20px;
            border: 1px solid #FC903D;
            transition: background-color 1s;
          }

          & .count-dish:hover {
            background: #FC903D;
            color: #fff;
          }

          & .count-dish.active {
            background: #FC903D;
            color: #fff;
          }

          & .count-dish:first-child {
            border-right: none;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          & .count-dish:last-child {
            border-left: none;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }

        .info-dish {
          margin-right: 16px;

          & p:first-child {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            letter-spacing: -0.01em;
            color: #62605D;
            margin-bottom: 4px;
          }

          & p:last-child {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 125%;
            text-align: right;
            letter-spacing: -0.01em;
            color: #0B1828;
            margin-bottom: 0;
          }
        }

        .addBusket {
          background: #484F8C;
          border-radius: 10px;
          padding: 15px 16px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          text-align: right;
          letter-spacing: -0.01em;
          color: #FFFFFF;
          border: none;
        }
      }
    }
  }

  .modal-close {
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 40px;
    background-image: url(../media/icon/close.svg);
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
  }
}

// small modal add in busket
.addbusket-modal {
  width: 100%;
  max-width: 672px;
  background-color: #fff;
  // padding: 12px 24px 12px 12px; 
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 24px;
  right: 24px;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 25;
  visibility: hidden;

  .img-container-small {
    min-width: 48px;
    width: 48px;
    height: 48px;
    background: #F7F7F7;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    position: relative;

    .small-img {
      width: 30px;
      height: 30px;
      background-position: center;
      background-size: cover;
    }
  }

  

  .small-title {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #62605D;
    padding: 24px 5px;
    

    span {
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 125%;
      letter-spacing: -0.01em;
      color: #62605D;
      margin-right: 5px;
    }
  }

  .goPay {
    background-color: transparent;
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 125%;
    text-align: right;
    letter-spacing: -0.01em;
    color: #484F8C;
    padding: 24px;
    border-left: 1px solid #F0EEEB;
    text-align: center;
  }
}


// modal small in busket
.inbusket {
  position: fixed;
  bottom: 32px;
  right: 32px;
  background-color: #fff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  cursor: pointer;  
  
  img {
    width: 24px;
    filter: invert(0.6);
    height: 24px;
    object-fit: cover;
    object-position: center;
  }
  .numberOfItem {
    position: absolute;
    width: 22px;
    height: 22px;
    background: #FC903D;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -5px;
    right: -5px;
    border-radius: 50%;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 125%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
  }
}

// modal form order
.order-overlay {

  .modal-content{
    padding: 64px;
    h3 {
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 100%;
      font-family: Mixta Didone Alt;
      color: #0B1828;
      margin-bottom: 40px;
    }
    form {
      display: flex;
      flex-direction: column;
      label {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: #0B1828;
        margin-bottom: 8px; 
      }
      input {
        border: 1px solid #F0EEEB;
        border-radius: 10px; 
        padding: 14px 13px; 
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: rgba(98, 96, 93, 0.6);
        margin-bottom: 30px;
        max-width: 592px;
        &::placeholder {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 125%;
          letter-spacing: -0.01em;
          color: rgba(98, 96, 93, 0.6);
        }
      }
      .form_bottom {
        display: flex;
        margin-top: 64px;
        p {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          letter-spacing: -0.01em;
          color: rgba(98, 96, 93, 0.8);
          margin-right: 32px;
          max-width: 372px;
        
          a {
            text-decoration: underline;
            font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          letter-spacing: -0.01em;
          color: rgba(98, 96, 93, 0.8);
          }
        }
        input {
          background: #484F8C;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 125%;
          text-align: right;
          letter-spacing: -0.01em;
          color: #FFFFFF;
          margin-bottom: 0;
          cursor: pointer;
        }
      }
    }
  }
}



// success   modal
.success {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(32px);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  padding: 0 50px;
 .success-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFFFFF;
box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
border-radius: 20px;
padding: 64px 88px;
.imgOk {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  background: #3CB07D;
  margin-bottom: 40px;
  &:after {
    content: "";
    background-image: url(../media/icon/ok.svg);
    background-position: center;
    background-size: cover;
    width: 48px;
    height: 48px;
    position: absolute;
  }
}
   h3 {
    font-family: Mixta Didone Alt;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    color: #0B1828;
    margin-bottom: 24px;
   }
   p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #62605D;
    margin-bottom: 24px;
    max-width: 544px;
   }
   a {
    background: #484F8C;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: right;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-bottom: 0;
    cursor: pointer;
    padding: 17px 24px;
    border-radius: 10px; 
   }
 }
}